  <p><%= link_to 'МАРШРУТЫ', admin_routes_path %></p>
  <p><%= link_to 'ЖЕЛЕЗНОДОРОЖНЫЕ СТАНЦИИ', admin_railway_stations_path %></p>
  <p><%= link_to 'ПОЕЗДА', admin_trains_path %></p>
  <p><%= link_to 'БИЛЕТЫ', admin_tickets_path %></p>
  <p><%= link_to 'ПОИСК БИЛЕТА', new_search_path %></p>
</br>