<h1>Кабинет администратора</h1>
  <p><strong>Список</strong></p>
  <p>
    <%= link_to 'МАРШРУТЫ', admin_routes_path %>
    <%= link_to 'ЖЕЛЕЗНОДОРОЖНЫЕ СТАНЦИИ', admin_railway_stations_path %>
    <%= link_to 'ПОЕЗДА', admin_trains_path %>
    <%= link_to 'БИЛЕТЫ', admin_tickets_path %>
  </p>
  <p><strong>Операции с билетами</strong></p>
  <p>
    <%= link_to 'Поиск билетов', new_search_path %>
  </p>
</br>