<p>
  <div class = 'edit_form_del', style = "display: block">
    <strong><%= t('.title') %></strong>
    <%= @railway_station.title %>
  </div>
  <%= render 'form', railway_station: @railway_station, hidden: true %>
</p>

<p>
  <strong><%= t('.train') %></strong>
  <%= @railway_station.trains.map(&:name) if @railway_station.trains.any? %>
  <%= t('.not_train') if !@railway_station.trains.any? %>
</p>

<p>
  <strong><%= t('.route') %></strong>
  <%= @railway_station.routes.map(&:name) if @railway_station.routes.any? %>
  <%= t('.not_route') if !@railway_station.routes.any? %>
</p>

<%= link_to t('common.edit'), '', class: "edit_button" %>
<%= link_to t('common.back'), admin_railway_stations_path %>
