<p>
  <div class = 'edit_form_del visibility'>
    <strong><%= t('.title') %></strong>
    <%= @railway_station.title %>
  </div>
  <div class = 'edit_form_add invisibility'>
    <%= render 'form', railway_station: @railway_station %>
  </div>
</p>

<p>
  <strong><%= t('.train') %></strong>
  <%= @railway_station.trains.map(&:name) if @railway_station.trains.any? %>
  <%= t('.not_train') if !@railway_station.trains.any? %>
</p>

<p>
  <strong><%= t('.route') %></strong>
  <%= @railway_station.routes.map(&:name) if @railway_station.routes.any? %>
  <%= t('.not_route') if !@railway_station.routes.any? %>
</p>


<div class = 'edit_form_del visibility'>
  <%= link_to t('common.change'), '', class: "edit_button_first" %>
</div>
<div class = 'edit_form_add invisibility'>
  <%= link_to t('common.cancel'), '', class: "edit_button_last" %>
</div>

<%= link_to t('common.back'), admin_railway_stations_path %>
