<h1><%= t('.title') %></h1>

<%= form_with(model: [:admin, @route], local: true) do |form| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= t('.stations') %></strong>
    <% if @route.railway_stations.empty? %>
      <%= t('common.empty') %>
    <% else %>
      <table>
        <thead>
        <tr>
          <td width="100px"><%= t('.name') %></td>
          <td><%= t('.position') %></td>
          <td><%= t('.arrival') %></td>
          <td><%= t('.departure') %></td>
        </tr>
        </thead>
        <tbody>
        <% @route.railway_stations.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <%= form_tag update_position_admin_route_path(station), method: :patch do %>
                <% binding.pry %>
                <td><%= number_field_tag(:position, @route.position_in(station),
                                         options = {in: 0..@route.railway_stations_routes.size}) %></td>
                <td><%= time_field_tag :arrival, @route.arrival_in(station).try(:strftime, '%H:%M') %></td>
                <td><%= time_field_tag :departure, @route.departure_in(station).try(:strftime, '%H:%M') %></td>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= hidden_field_tag :railway_station_id, station.id %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <td><%= submit_tag t('.submit.edit') %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </p>

  <p>
  <div class="field">
    <%= form_tag add_station_admin_route_path, method: :patch do %>
      <%= form.select(:railway_stations_id, RailwayStation.all.collect { |s| [ s.title, s.id ] }) %>
      <%= form.submit t('.submit.destroy') %>
    <% end %>
  </div>
  </p>
<% end %>

<%= link_to t('common.back'), admin_routes_path %>
