<h1><%= t('.title') %></h1>

<%= form_with(model: [:admin, @route], local: true) do |form| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= t('.stations') %></strong>
    <% if @route.railway_stations.empty? %>
      <%= t('common.empty') %>
    <% else %>
      <table>
        <thead>
        <tr>
          <td width="100px"><%= t('.name') %></td>
          <td><%= t('.position') %></td>
        </tr>
        </thead>
        <tbody>
        <% @route.railway_stations.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td>
              <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag(:position, station.position_in(@route), options = {in: 0..@route.railway_stations_routes.size}) %>
                <%= time_field_tag :arrival, station.arrival_in(@route) %>
                <%= time_field_tag :departure, station.departure_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= hidden_field_tag :railway_station_id, station.id %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= submit_tag t('.submit') %>
              <% end %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    <% end %>
  </p>
<% end %>

<%= link_to t('common.back'), admin_routes_path %>
