<h2><span class="label label-success"><%= t('.title') %></span></h2>

<%= form_with(model: [:admin, @route], local: true) do |form| %>
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= form.label :railway_stations %>
    <%= form.select(:railway_stations_ids, RailwayStation.all.collect { |s| [ s.title, s.id ] },
                                                                      { :prompt => false },
                                                                      { :multiple => true, :size => 5 }) %>
  </div>

  <div class="actions">
    <%= form.submit t('common.submit.create') %>
  </div>
<% end %>

<%= link_to t('common.back'), admin_routes_path %>
