<p>
  <strong><%= t('.title') %></strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('.train') %></strong>
  <%= @route.train.name if !@route.train.nil? %>
  <%= t('.not_train') if @route.train.nil? %>
</p>

<p>
  <strong><%= t('.station') %></strong>
  <%= @route.railway_stations.map(&:title) if @route.railway_stations.any? %>
  <%= t('.not_station') if !@route.railway_stations.any? %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
