<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.name %>
</p>

<p>
  <strong>Название маршрута:</strong>
  <%= @train.route.name %>
</p>

<p>
  <strong>Текущая станция:</strong>
  <%= @train.current_station.title %>
</p>

<p>
  <em>Количество сидячих вагонов:</em>
  <%= @train.carriages.group(:type).count['ExpressCarriage'] ||= 0 %>
</p>

<p>
  <em>Количество плацкартных вагонов:</em>
  <%= @train.carriages.group(:type).count['EconomCarriage'] ||= 0 %>
</p>

<p>
  <em>Количество купейных вагонов:</em>
  <%= @train.carriages.group(:type).count['CoupeCarriage'] ||= 0 %>
</p>

<p>
  <em>Количество люкс вагонов:</em>
  <%= @train.carriages.group(:type).count['VipCarriage'] ||= 0 %>
</p>

<strong>Вагоны в составе поезда:</strong>
<% car = @train.carriages.reverse %>
<% car = @train.carriages if @train.sortcar %>
<% car.each do |carriage| %>
  <%= render :partial => 'carriages/carriage', :locals => {:carriage => carriage} %>
<% end %>

<p>
<%= link_to 'Добавить вагон', new_train_carriage_path(@train) %>
</p>
<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
