<h1><%= t('.title') %></h1>

<%= form_with(url: tickets_path(@ticket), model: @ticket, method: :post, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <%= form.label(:last_name) %>
  <%= form.text_field :last_name %>
  <%= form.label(:first_name) %>
  <%= form.text_field :first_name %>
  <%= form.label(:father_name) %>
  <%= form.text_field :father_name %>
  <%= form.label(:passport_series) %>
  <%= form.text_field :passport_series %>
  <%= form.label(:passport_numbers) %>
  <%= form.text_field :passport_numbers %>
  <%= hidden_field_tag :ticket_rsr_first, params[:ticket_rsr_first] %>
  <%= hidden_field_tag :ticket_rsr_last, params[:ticket_rsr_last] %>
  <p><%= form.submit t('.buy') %></p>
<% end %>
