<h2><span class="label label-success"><%= t('.title') %></span></h2>

<div class="row has-success">
  <%= form_with(url: tickets_path(@ticket), model: @ticket, method: :post, local: true) do |form| %>
    <%= render 'common/errors', resource: @ticket %>

    <div class="col-md-4">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control", placeholder: "Фамилия" %>
    </div>
    <div class="col-md-4">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control", placeholder: "Имя" %>
    </div>
    <div class="col-md-4">
      <%= form.label :father_name %>
      <%= form.text_field :father_name, class: "form-control", placeholder: "Отчество" %>
      <%= hidden_field_tag :ticket_rsr_first, params[:ticket_rsr_first] %>
      <%= hidden_field_tag :ticket_rsr_last, params[:ticket_rsr_last] %>
    </div>

    <div class="col-md-4">
      <%= form.label :passport_series %>
      <%= form.text_field :passport_series, class: "form-control", placeholder: "Серия паспорта" %>
    </div>
    <div class="col-md-4">
      <%= form.label :passport_numbers %>
      <%= form.text_field :passport_numbers, class: "form-control", placeholder: "Номер паспорта" %>
    </div>
    <div class="col-md-4">
      <br/>
      <%= form.submit t('.buy'), class: "btn btn-default btn-primary form-control" %>
    </div>
  <% end %>
</div>
