<p><strong><%= t('.title') %></strong></p>

<p>
  <%= "#{t('.number_ticket')} #{@ticket.id}" %>
</p>

<p>
  <%= "#{t('tickets.common.last_name')} #{@ticket.last_name}" %>
</p>

<p>
  <%= "#{t('tickets.common.first_name')} #{@ticket.first_name}" %>
</p>

<p>
  <%= "#{t('tickets.common.father_name')} #{@ticket.father_name}" %>
</p>

<p>
  <%= "#{t('tickets.common.passport_series')} #{@ticket.passport_series} № #{@ticket.passport_numbers}" %>
</p>

<p>
  <%= "#{t('.number_train')} #{@ticket_info[:train]}" %>
</p>

<p>
  <%= "#{t('tickets.common.station_first')} #{@ticket_info[:station_first]} в #{@ticket_info[:time_first]}" %>
</p>

<p>
  <%= "#{t('tickets.common.station_last')} #{@ticket_info[:station_last]} в #{@ticket_info[:time_last]}" %>
</p>

<p>
  <%= "#{t('.date')} #{@ticket[:created_at]}" %>
</p>


