<%= form_with(model: carriage.becomes(Carriage), local: true) do |form| %>
  <% if carriage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carriage.errors.count, "error") %> prohibited this carriage from being saved:</h2>

      <ul>
      <% carriage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :train, "Номер поезда" %>
    <%= form.collection_select :train_id, Train.all, :id, :name %>
  </div>


  <div class="field">
    <%= form.label :type, "Тип вагона" %>
    <% select_list = {
      'сидячий вагон': 'ExpressCarriage',
      'плацкартный вагон': 'EconomCarriage',
      'купейный вагон': 'CoupeCarriage',
      'люкс вагон': 'VipCarriage'
    } %>
    <%= form.select :type, select_list %>
  </div>

  <div class="field">
    <%= form.label :place_botton, "Количество нижних мест" %>
    <%= form.text_field :place_botton %>
  </div>

  <div class="field">
    <%= form.label :place_top, "Количество верхних мест" %>
    <%= form.text_field :place_top %>
  </div>

  <div class="field">
    <%= form.label :place_botton_side, "Количество нижних боковых мест" %>
    <%= form.text_field :place_botton_side %>
  </div>

  <div class="field">
    <%= form.label :place_top_side, "Количество верхних боковых мест" %>
    <%= form.text_field :place_top_side %>
  </div>

  <div class="field">
    <%= form.label :seat, "Количество сидячих мест" %>
    <%= form.text_field :seat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
