<%= form_with(model: [:admin, @ticket], local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label(:last_name, "Фамилия") %>
  <%= form.text_field :last_name %>
  <%= form.label(:first_name, "Имя") %>
  <%= form.text_field :first_name %>
  <%= form.label(:father_name, "Отчество") %>
  <%= form.text_field :father_name %>
  <%= form.label(:passport_series, "Серия паспорта") %>
  <%= form.text_field :passport_series %>
  <%= form.label(:passport_numbers, "Номер паспорта") %>
  <%= form.text_field :passport_numbers %>
  <%= hidden_field_tag :ticket_rsr_first, params[:ticket_rsr_first] %>
  <%= hidden_field_tag :ticket_rsr_last, params[:ticket_rsr_last] %>
  <%= form.submit %>
<% end %>
