<%= form_with(model: [:admin, @train, @carriage.becomes(Carriage)]) do |form| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= form.label :train, t('.number') %>
    <%= form.collection_select :train_id, Train.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <% select_list = {
      "#{t('.express')}": 'ExpressCarriage',
      "#{t('.econom')}": 'EconomCarriage',
      "#{t('.coupe')}": 'CoupeCarriage',
      "#{t('.vip')}": 'VipCarriage'
    } %>
    <%= form.select :type, select_list %>
  </div>

  <div class="field">
    <%= form.label :place_botton %>
    <%= form.text_field :place_botton %>
  </div>

  <div class="field">
    <%= form.label :place_top %>
    <%= form.text_field :place_top %>
  </div>

  <div class="field">
    <%= form.label :place_botton_side%>
    <%= form.text_field :place_botton_side %>
  </div>

  <div class="field">
    <%= form.label :place_top_side %>
    <%= form.text_field :place_top_side %>
  </div>

  <div class="field">
    <%= form.label :seat %>
    <%= form.text_field :seat %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: @carriage.new_record? ? 'Создать' : 'Редактировать') %>
  </div>
<% end %>
