<p>
  <strong><%= t('.number_train') %></strong>
  <%= @carriage.train.name %>
</p>

<p>
  <strong><%= t('.type_carriage') %></strong>
  <%= {
      "#{t('.express')}": 'ExpressCarriage',
      "#{t('.econom')}": 'EconomCarriage',
      "#{t('.coupe')}": 'CoupeCarriage',
      "#{t('.vip')}": 'VipCarriage'
  }.key(@carriage.type) %>
</p>

<p>
  <strong><%= t('.number_carriage') %></strong>
  <%= @carriage.number %>
</p>

<p>
  <em><%= t('.place_top') %></em>
  <%= @carriage.place_botton ||= 0 %>
</p>

<p>
  <em><%= t('.place_botton') %></em>
  <%= @carriage.place_top ||= 0 %>
</p>

<p>
  <em><%= t('.place_top_side') %></em>
  <%= @carriage.place_botton_side ||= 0 %>
</p>

<p>
  <em><%= t('.place_botton_side') %></em>
  <%= @carriage.place_top_side  ||= 0 %>
</p>

<p>
  <em><%= t('.seat') %></em>
  <%= @carriage.seat  ||= 0 %>
</p>

<%= link_to t('common.edit'), edit_admin_carriage_path(@carriage) %> |
<%= link_to t('common.back_to_train'), admin_train_path(@carriage.train) %>
