<h1>Новый поиск</h1>
<%= form_with(url: "/search", method: :get) do |form| %>
  <div class="field">
    <%= form.label :station_first, "Cтанция отправления" %>
    <%= form.select(:station_first, RailwayStation.all.collect {|s| [ s.title, s.title ] }) %>
  </div>

  <div class="field">
    <%= form.label :station_last, "Cтанция прибытия" %>
    <%= form.select(:station_last, RailwayStation.all.collect {|s| [ s.title, s.title ] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= form_tag(search_path, method: :get) do %>
  <%= text_field_tag :station_first %>
  <%= text_field_tag :station_last %>
  <%= submit_tag 'Search' %>
<% end %>



