<h1><%= t('.title') %></h1>
<%= form_with(url: search_path, local: true,  method: :get) do |form| %>
  <div class="field">
    <%= form.label :station_first_id, t('tickets.common.station_first') %>
    <%= form.select(:station_first_id, @stations.map { |s| [ s.title, s.id ] } ) %>
  </div>

  <div class="field">
    <%= form.label :station_last_id, t('tickets.common.station_last') %>
    <%= form.select(:station_last_id, @stations.map { |s| [ s.title, s.id ] } ) %>
  </div>

  <div class="actions">
    <%= form.submit t('.search')%>
  </div>
<% end %>
