<p id="notice"><%= notice %></p>

Поиск
<%= link_to 'Новый поиск', new_search_path(@search) %> |

<% if @search_rsr.empty? %>
Поездов не найдено
<% else %>
<table>
  <thead>
  <tr>
    <td width="100px">Маршрут</td>
    <td>Станция отправления</td>
    <td>Время отправления</td>
    <td>Станция прибытия</td>
    <td>Время прибытия</td>
    <td>Купить билет</td>
  </tr>
  </thead>
  <tbody>
  <% @search_rsr.each do |search_rsr| %>
    <tr>
      <td><%= search_rsr[:route].name %></td>
      <td><%= @station_first.title %></td>
      <td><%= search_rsr[:firstrsr].departure %></td>
      <td><%= @station_last.title %></td>
      <td><%= search_rsr[:lastrsr].arrival %></td>
      <td>
      <%= form_tag new_ticket_path(@search), method: :get do %>
        <% rsr_first = search_rsr[:firstrsr].id %>
        <% rsr_last = search_rsr[:lastrsr].id %>
        <%= hidden_field_tag :ticket_rsr_first, rsr_first %>
        <%= hidden_field_tag :ticket_rsr_last, rsr_last %>
        <%= submit_tag "Купить билет" %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
