<p id="notice"><%= notice %></p>

Поиск
<%= link_to 'Новый поиск', new_search_path(@search) %> |

<% if @search_rsr.empty? %>
Поездов не найдено
<% else %>
<table>
  <thead>
  <tr>
    <td width="100px">Маршрут</td>
    <td>Станция отправления</td>
    <td>Время отправления</td>
    <td>Станция прибытия</td>
    <td>Время прибытия</td>
    <td>Купить билет</td>
  </tr>
  </thead>
  <tbody>
  <% @search_rsr.each do |search_rsr| %>
    <% first = RailwayStationsRoute.find(search_rsr[:first_id])%>
    <% last = RailwayStationsRoute.find(search_rsr[:last_id])%>
    <tr>
      <td><%= Route.find(first.route_id).name %></td>
      <td><%= @search[:station_first] %></td>
      <td><%= first.departure %></td>
      <td><%= @search[:station_last] %></td>
      <td><%= last.arrival %></td>
      <td>
      <%= form_tag new_ticket(@search), method: :patch do %>
        <%= hidden_field_tag :last, @search_rsr %>
        <%= submit_tag "Купить билет" %>
      <% end %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
