<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @carriage.name %>
</p>

<p>
  <strong>Поезда на данном маршруте:</strong>
  <%= @carriage.trains.map(&:name) if @carriage.trains.any? %>
  <%= "поездов нет" if !@carriage.trains.any? %>
</p>

<p>
  <strong>Станции которые входят в данный маршрут:</strong>
  <%= @carriage.railway_stations.map(&:title) if @carriage.railway_stations.any? %>
  <%= "станций нет" if !@carriage.railway_stations.any? %>
</p>

<%= link_to 'Редактировать', edit_carriage_path(@carriage) %> |
<%= link_to 'Назад', carriages_path %>
