<header>
  <li class="nav-header">администратора</li>
  <br>
  <li><%= link_to 'МАРШРУТЫ', admin_routes_path %></li>
  <li><%= link_to 'ЖЕЛЕЗНОДОРОЖНЫЕ СТАНЦИИ', admin_railway_stations_path %></li>
  <li><%= link_to 'ПОЕЗДА', admin_trains_path %></li>
  <li><%= link_to 'БИЛЕТЫ', admin_tickets_path %></li>
  <li><%= link_to 'ПОИСК БИЛЕТА', new_search_path %></li>
</header>
